@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500;600;700&display=swap');

* {
    margin: 0;
    display: ;
    padding: 0;
    font-family: 'Unbounded', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: url(./bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.main{
    display: flex;
}
.left{
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.s1 {
    display: flex;
    margin: 50px;
    column-gap: 50px;
    padding: 35px;
    box-shadow: 5px 5px 0 #000;
    background-color: blueviolet;
    justify-content: space-around;
    flex-direction: row;

}

.s1 .info {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 35px;
    row-gap: 5px;
}

.s1 img {
    height: 250px;
    width: 200px;
    box-shadow: 5px 5px 0 #000;
    max-width: 50%;
}

.info h2 {
    background-color: brown;
    flex-shrink: 0;
    padding: 10px;
    flex-grow: 0;
    width: 250px;
    font-weight: 400;
    color: aliceblue;
    box-shadow: 5px 5px 0 #000;
    font-size: 16px;
}

.info p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

.s2 {
    display: flex;
    display: flex;
    /* margin: 50px; */
    column-gap: 50px;
    padding: 35px;
}

.p-lang-cont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding: 35px;
    box-shadow: 5px 5px 0 #000;
    row-gap: 10px;
    background-color: turquoise;
}

.p-framework-cont {
    display: flex;
    flex-direction: column;
    
    padding: 35px;
    box-shadow: 5px 5px 0 #000;
    row-gap: 10px;
    background-color: tomato;
}

.p-tools-cont {
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-shadow: 5px 5px 0 #000;
    row-gap: 10px;
    background-color: burlywood;
}
 ul{
    padding: 15px;

}


.right{
    
    display: flex;
    
    align-items: center;
    flex-direction: column;
}